:root {
  --paragraph: rgba(102, 102, 102, 1);
  --primary-b: rgba(34, 34, 34, 1);
  --primary-o: rgba(250, 116, 54, 1);
  --color-off: rgba(153, 153, 153, 1);
  --color-b-1: rgba(68, 68, 68, 1);
  --white: rgba(255, 255, 255, 1);
  --color-off-1: rgba(229, 229, 229, 1);
  --section-title-font-family: "Volkhov", Helvetica;
  --section-title-font-weight: 700;
  --section-title-font-size: 48px;
  --section-title-letter-spacing: 0px;
  --section-title-line-height: 54px;
  --section-title-font-style: normal;
  --paragraph-18px-font-family: "Poppins", Helvetica;
  --paragraph-18px-font-weight: 400;
  --paragraph-18px-font-size: 18px;
  --paragraph-18px-letter-spacing: 0px;
  --paragraph-18px-line-height: 32px;
  --paragraph-18px-font-style: normal;
  --paragraph-16x-font-family: "Poppins", Helvetica;
  --paragraph-16x-font-weight: 400;
  --paragraph-16x-font-size: 16px;
  --paragraph-16x-letter-spacing: 0px;
  --paragraph-16x-line-height: 26px;
  --paragraph-16x-font-style: normal;
  --title-24px-font-family: "Poppins", Helvetica;
  --title-24px-font-weight: 500;
  --title-24px-font-size: 24px;
  --title-24px-letter-spacing: 0px;
  --title-24px-line-height: 26px;
  --title-24px-font-style: normal;
  --content-16x-font-family: "Poppins", Helvetica;
  --content-16x-font-weight: 500;
  --content-16x-font-size: 16px;
  --content-16x-letter-spacing: 0px;
  --content-16x-line-height: 32px;
  --content-16x-font-style: normal;
}
