.travel-agency {
  background-color: #fefbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.travel-agency .div {
  background-color: #fefbfb;
  overflow: hidden;
  width: 1920px;
  height: 5875px;
  position: relative;
}

.travel-agency .hero-section {
  position: absolute;
  width: 1920px;
  height: 999px;
  top: 0;
  left: 0;
}

.travel-agency .things-your-need {
  position: absolute;
  width: 1920px;
  height: 724px;
  top: 999px;
  left: 0;
  background-color: #f7f8fc;
}

.travel-agency .overlap {
  position: relative;
  width: 1170px;
  height: 484px;
  top: 120px;
  left: 374px;
}

.travel-agency .content {
  position: absolute;
  width: 1170px;
  height: 484px;
  top: 0;
  left: 0;
}

.travel-agency .content-2 {
  position: absolute;
  width: 525px;
  height: 142px;
  top: 0;
  left: 325px;
}

.travel-agency .things-you-need-to {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--section-title-font-family);
  font-weight: var(--section-title-font-weight);
  color: transparent;
  font-size: var(--section-title-font-size);
  letter-spacing: var(--section-title-letter-spacing);
  line-height: var(--section-title-line-height);
  white-space: nowrap;
  font-style: var(--section-title-font-style);
}

.travel-agency .text-wrapper {
  color: #222222;
  font-family: var(--section-title-font-family);
  font-style: var(--section-title-font-style);
  font-weight: var(--section-title-font-weight);
  letter-spacing: var(--section-title-letter-spacing);
  line-height: var(--section-title-line-height);
  font-size: var(--section-title-font-size);
}

.travel-agency .span {
  color: #fa7436;
  font-family: var(--section-title-font-family);
  font-style: var(--section-title-font-style);
  font-weight: var(--section-title-font-weight);
  letter-spacing: var(--section-title-letter-spacing);
  line-height: var(--section-title-line-height);
  font-size: var(--section-title-font-size);
}

.travel-agency .p {
  position: absolute;
  width: 482px;
  top: 78px;
  left: 19px;
  font-family: var(--paragraph-18px-font-family);
  font-weight: var(--paragraph-18px-font-weight);
  color: var(--paragraph);
  font-size: var(--paragraph-18px-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-18px-letter-spacing);
  line-height: var(--paragraph-18px-line-height);
  font-style: var(--paragraph-18px-font-style);
}

.travel-agency .sign-up {
  position: absolute;
  width: 374px;
  height: 278px;
  top: 206px;
  left: 0;
}

.travel-agency .overlap-group {
  position: relative;
  width: 370px;
  height: 279px;
  top: -1px;
}

.travel-agency .rectangle {
  width: 370px;
  height: 278px;
  top: 1px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 14px 24px 72px #6666661a;
  position: absolute;
  left: 0;
}

.travel-agency .vector {
  position: absolute;
  width: 369px;
  height: 277px;
  top: 0;
  left: 1px;
}

.travel-agency .group {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 41px;
  left: 40px;
}

.travel-agency .text-wrapper-2 {
  position: absolute;
  top: 137px;
  left: 40px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-b);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 34px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-3 {
  position: absolute;
  width: 290px;
  top: 187px;
  left: 40px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

.travel-agency .money {
  position: absolute;
  width: 374px;
  height: 278px;
  top: 206px;
  left: 400px;
}

.travel-agency .overlap-2 {
  position: relative;
  width: 372px;
  height: 279px;
  top: -1px;
  left: -2px;
}

.travel-agency .rectangle-2 {
  position: absolute;
  width: 370px;
  height: 278px;
  top: 1px;
  left: 2px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: #66666614;
}

.travel-agency .img {
  position: absolute;
  width: 367px;
  height: 276px;
  top: 0;
  left: 0;
}

.travel-agency .text-wrapper-4 {
  position: absolute;
  top: 137px;
  left: 42px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-b);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 34px;
  white-space: nowrap;
}

.travel-agency .after-successful {
  position: absolute;
  width: 290px;
  top: 187px;
  left: 42px;
  font-family: var(--paragraph-16x-font-family);
  font-weight: var(--paragraph-16x-font-weight);
  color: var(--paragraph);
  font-size: var(--paragraph-16x-font-size);
  letter-spacing: var(--paragraph-16x-letter-spacing);
  line-height: var(--paragraph-16x-line-height);
  font-style: var(--paragraph-16x-font-style);
}

.travel-agency .group-2 {
  position: absolute;
  width: 47px;
  height: 48px;
  top: 41px;
  left: 42px;
}

.travel-agency .travel {
  position: absolute;
  width: 374px;
  height: 278px;
  top: 206px;
  left: 800px;
}

.travel-agency .overlap-3 {
  position: relative;
  width: 370px;
  height: 278px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: #66666614;
}

.travel-agency .vector-2 {
  position: absolute;
  width: 363px;
  height: 272px;
  top: 1px;
  left: 1px;
}

.travel-agency .text-wrapper-5 {
  position: absolute;
  top: 134px;
  left: 38px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-b);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 34px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-6 {
  position: absolute;
  width: 290px;
  top: 184px;
  left: 38px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

.travel-agency .group-3 {
  position: absolute;
  width: 41px;
  height: 48px;
  top: 38px;
  left: 38px;
}

.travel-agency .element {
  position: absolute;
  width: 180px;
  height: 131px;
  top: 0;
  left: 912px;
}

.travel-agency .exclusive-deals {
  position: absolute;
  width: 1920px;
  height: 960px;
  top: 1723px;
  left: 0;
  background-color: #fefcfb;
}

.travel-agency .content-3 {
  position: relative;
  width: 1170px;
  height: 720px;
  top: 120px;
  left: 375px;
}

.travel-agency .content-4 {
  position: absolute;
  width: 679px;
  height: 142px;
  top: 0;
  left: 248px;
}

.travel-agency .exclusive-deals-2 {
  position: absolute;
  width: 675px;
  top: 0;
  left: 0;
  font-family: "Volkhov-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 54px;
}

.travel-agency .text-wrapper-7 {
  color: #222222;
}

.travel-agency .text-wrapper-8 {
  color: #fa7436;
}

.travel-agency .discover-our {
  position: absolute;
  width: 433px;
  top: 78px;
  left: 121px;
  font-family: var(--paragraph-18px-font-family);
  font-weight: var(--paragraph-18px-font-weight);
  color: var(--paragraph);
  font-size: var(--paragraph-18px-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-18px-letter-spacing);
  line-height: var(--paragraph-18px-line-height);
  font-style: var(--paragraph-18px-font-style);
}

.travel-agency .card {
  position: absolute;
  width: 1170px;
  height: 426px;
  top: 206px;
  left: 0;
}

.travel-agency .card-2 {
  width: 270px;
  left: 0;
  background-color: #fefcfb;
  border-radius: 8px;
  border: 2px solid;
  border-color: #66666614;
  position: absolute;
  height: 426px;
  top: 0;
}

.travel-agency .image {
  position: absolute;
  width: 270px;
  height: 290px;
  top: -2px;
  left: -2px;
  object-fit: cover;
}

.travel-agency .upper-content {
  position: absolute;
  width: 238px;
  height: 26px;
  top: 320px;
  left: 14px;
}

.travel-agency .div-wrapper {
  position: absolute;
  width: 88px;
  height: 26px;
  top: 0;
  left: 0;
}

.travel-agency .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--title-24px-font-family);
  font-weight: var(--title-24px-font-weight);
  color: var(--primary-b);
  font-size: var(--title-24px-font-size);
  text-align: center;
  letter-spacing: var(--title-24px-letter-spacing);
  line-height: var(--title-24px-line-height);
  white-space: nowrap;
  font-style: var(--title-24px-font-style);
}

.travel-agency .content-5 {
  position: absolute;
  width: 50px;
  height: 24px;
  top: 1px;
  left: 190px;
}

.travel-agency .star {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  object-fit: cover;
}

.travel-agency .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 24px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.travel-agency .div-2 {
  position: absolute;
  width: 238px;
  height: 28px;
  top: 364px;
  left: 14px;
}

.travel-agency .content-6 {
  position: absolute;
  width: 69px;
  height: 20px;
  top: 1px;
  left: 0;
}

.travel-agency .img-2 {
  position: absolute;
  width: 13px;
  height: 16px;
  top: 2px;
  left: 0;
}

.travel-agency .text-wrapper-11 {
  left: 21px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 0;
  letter-spacing: 0;
  white-space: nowrap;
}

.travel-agency .content-7 {
  position: absolute;
  width: 110px;
  height: 28px;
  top: 0;
  left: 128px;
}

.travel-agency .overlap-group-wrapper {
  position: absolute;
  width: 54px;
  height: 28px;
  top: 0;
  left: 58px;
}

.travel-agency .overlap-group-2 {
  position: relative;
  width: 52px;
  height: 28px;
  background-color: #ffe7db;
  border-radius: 8px;
}

.travel-agency .text-wrapper-12 {
  position: absolute;
  top: 2px;
  left: 5px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-o);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.travel-agency .overlap-wrapper {
  position: absolute;
  width: 44px;
  height: 24px;
  top: 2px;
  left: 0;
}

.travel-agency .overlap-4 {
  position: relative;
  width: 42px;
  height: 24px;
}

.travel-agency .text-wrapper-13 {
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--color-off);
  position: absolute;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.travel-agency .line {
  position: absolute;
  width: 39px;
  height: 1px;
  top: 11px;
  left: 3px;
  object-fit: cover;
}

.travel-agency .card-3 {
  width: 272px;
  left: 298px;
  position: absolute;
  height: 426px;
  top: 0;
}

.travel-agency .overlap-5 {
  position: relative;
  height: 426px;
}

.travel-agency .bg {
  position: absolute;
  width: 270px;
  height: 426px;
  top: 0;
  left: 2px;
  background-color: #fefcfb;
  border-radius: 10px;
  box-shadow: 0px 16px 80px #fe935e33;
}

.travel-agency .image-2 {
  position: absolute;
  width: 270px;
  height: 290px;
  top: 0;
  left: 2px;
}

.travel-agency .hover-effect {
  position: absolute;
  width: 270px;
  height: 290px;
  top: 2px;
  left: 0;
  background-color: #00000066;
  border-radius: 8px;
}

.travel-agency .book-now-btn {
  position: relative;
  width: 132px;
  height: 50px;
  top: 192px;
  left: 71px;
  background-color: var(--primary-o);
  border-radius: 8px;
}

.travel-agency .text-wrapper-14 {
  position: absolute;
  top: 8px;
  left: 22px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.travel-agency .upper-content-2 {
  position: absolute;
  width: 238px;
  height: 26px;
  top: 322px;
  left: 18px;
}

.travel-agency .content-8 {
  position: absolute;
  width: 87px;
  height: 26px;
  top: 0;
  left: 0;
}

.travel-agency .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--primary-b);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.travel-agency .div-3 {
  position: absolute;
  width: 50px;
  height: 20px;
  top: 3px;
  left: 190px;
}

.travel-agency .star-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  object-fit: cover;
}

.travel-agency .text-wrapper-16 {
  left: 24px;
  line-height: 20px;
  position: absolute;
  top: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.travel-agency .footer-content {
  position: absolute;
  width: 238px;
  height: 28px;
  top: 366px;
  left: 18px;
}

.travel-agency .content-9 {
  position: absolute;
  width: 57px;
  height: 20px;
  top: 0;
  left: 0;
}

.travel-agency .overlap-group-3 {
  position: relative;
  width: 52px;
  height: 28px;
  background-color: #ffe7db;
  border-radius: 4px;
}

.travel-agency .text-wrapper-17 {
  top: 2px;
  left: 6px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-o);
  position: absolute;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-18 {
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--paragraph);
  position: absolute;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.travel-agency .card-4 {
  width: 270px;
  left: 600px;
  background-color: #fefcfb;
  border-radius: 8px;
  border: 2px solid;
  border-color: #66666614;
  position: absolute;
  height: 426px;
  top: 0;
}

.travel-agency .content-10 {
  position: absolute;
  width: 61px;
  height: 26px;
  top: 0;
  left: 0;
}

.travel-agency .content-11 {
  position: absolute;
  width: 78px;
  height: 20px;
  top: 0;
  left: 0;
}

.travel-agency .content-12 {
  position: absolute;
  width: 109px;
  height: 28px;
  top: 0;
  left: 129px;
}

.travel-agency .group-4 {
  position: absolute;
  width: 54px;
  height: 28px;
  top: 0;
  left: 57px;
}

.travel-agency .group-5 {
  position: absolute;
  width: 43px;
  height: 24px;
  top: 2px;
  left: 0;
}

.travel-agency .overlap-6 {
  position: relative;
  width: 41px;
  height: 24px;
}

.travel-agency .line-2 {
  position: absolute;
  width: 39px;
  height: 1px;
  top: 11px;
  left: 2px;
  object-fit: cover;
}

.travel-agency .card-5 {
  width: 270px;
  left: 900px;
  background-color: #fefcfb;
  border-radius: 8px;
  border: 2px solid;
  border-color: #66666614;
  position: absolute;
  height: 426px;
  top: 0;
}

.travel-agency .content-13 {
  position: absolute;
  width: 91px;
  height: 26px;
  top: 0;
  left: 0;
}

.travel-agency .content-14 {
  position: absolute;
  width: 44px;
  height: 20px;
  top: 0;
  left: 0;
}

.travel-agency .slider-btn {
  position: absolute;
  width: 104px;
  height: 40px;
  top: 680px;
  left: 529px;
}

.travel-agency .btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 64px;
  background-color: var(--primary-o);
  border-radius: 20px;
}

.travel-agency .arrow {
  position: absolute;
  width: 17px;
  height: 15px;
  top: 13px;
  left: 12px;
}

.travel-agency .arrow-wrapper {
  left: 0;
  background-color: #fefcfb;
  border: 1px solid;
  border-color: #99999980;
  transform: rotate(180deg);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  border-radius: 20px;
}

.travel-agency .arrow-2 {
  position: absolute;
  width: 17px;
  height: 15px;
  top: 12px;
  left: 11px;
  transform: rotate(-180deg);
}

.travel-agency .vacation-plan {
  position: absolute;
  width: 1920px;
  height: 893px;
  top: 2683px;
  left: 0;
  background-color: #fefcfb;
}

.travel-agency .overlap-7 {
  position: relative;
  width: 1170px;
  height: 653px;
  top: 120px;
  left: 375px;
}

.travel-agency .element-2 {
  position: absolute;
  width: 106px;
  height: 81px;
  top: 0;
  left: 876px;
}

.travel-agency .content-15 {
  position: absolute;
  width: 1170px;
  height: 653px;
  top: 0;
  left: 0;
}

.travel-agency .card-6 {
  position: absolute;
  width: 370px;
  height: 447px;
  top: 206px;
  left: 0;
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid;
  border-color: #66666614;
}

.travel-agency .overlap-group-4 {
  position: relative;
  width: 529px;
  height: 508px;
  top: -1px;
  left: -79px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.travel-agency .upper-content-3 {
  position: absolute;
  width: 323px;
  height: 32px;
  top: 352px;
  left: 106px;
}

.travel-agency .text-wrapper-19 {
  position: absolute;
  width: 164px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #222222;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.travel-agency .text-wrapper-20 {
  position: absolute;
  width: 81px;
  top: 0;
  left: 238px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-o);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.travel-agency .footer-content-2 {
  width: 317px;
  top: 400px;
  left: 108px;
  position: absolute;
  height: 24px;
}

.travel-agency .content-16 {
  position: absolute;
  width: 147px;
  height: 24px;
  top: 0;
  left: 0;
}

.travel-agency .navigation {
  position: absolute;
  width: 19px;
  height: 16px;
  top: 4px;
  left: 0;
}

.travel-agency .text-wrapper-21 {
  position: absolute;
  width: 112px;
  top: 0;
  left: 33px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--paragraph);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.travel-agency .content-17 {
  position: absolute;
  width: 50px;
  height: 24px;
  top: 0;
  left: 269px;
}

.travel-agency .card-7 {
  position: absolute;
  width: 370px;
  height: 447px;
  top: 206px;
  left: 400px;
  background-color: #fefcfb;
  border-radius: 16px;
  box-shadow: 0px 16px 80px #fe935e33;
}

.travel-agency .image-3 {
  position: absolute;
  width: 369px;
  height: 327px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.travel-agency .upper-content-4 {
  position: absolute;
  width: 323px;
  height: 32px;
  top: 351px;
  left: 27px;
}

.travel-agency .footer-content-3 {
  width: 319px;
  top: 399px;
  left: 27px;
  position: absolute;
  height: 24px;
}

.travel-agency .content-18 {
  position: absolute;
  width: 150px;
  height: 24px;
  top: 0;
  left: 0;
}

.travel-agency .text-wrapper-22 {
  position: absolute;
  width: 112px;
  top: 0;
  left: 37px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--paragraph);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.travel-agency .content-19 {
  position: absolute;
  width: 50px;
  height: 24px;
  top: 0;
  left: 271px;
}

.travel-agency .text-wrapper-23 {
  left: 25px;
  line-height: 24px;
  position: absolute;
  top: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.travel-agency .card-8 {
  position: absolute;
  width: 370px;
  height: 447px;
  top: 206px;
  left: 800px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid;
  border-color: #66666614;
}

.travel-agency .image-4 {
  position: absolute;
  width: 369px;
  height: 327px;
  top: -2px;
  left: -1px;
  object-fit: cover;
}

.travel-agency .upper-content-5 {
  position: absolute;
  width: 324px;
  height: 32px;
  top: 349px;
  left: 24px;
}

.travel-agency .text-wrapper-24 {
  position: absolute;
  width: 81px;
  top: 0;
  left: 239px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-o);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.travel-agency .footer-content-4 {
  width: 317px;
  top: 397px;
  left: 27px;
  position: absolute;
  height: 24px;
}

.travel-agency .best-vacation-plan {
  position: absolute;
  top: 0;
  left: 44px;
  font-family: "Volkhov-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-25 {
  position: absolute;
  width: 521px;
  top: 78px;
  left: 0;
  font-family: var(--paragraph-18px-font-family);
  font-weight: var(--paragraph-18px-font-weight);
  color: #666666;
  font-size: var(--paragraph-18px-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-18px-letter-spacing);
  line-height: var(--paragraph-18px-line-height);
  font-style: var(--paragraph-18px-font-style);
}

.travel-agency .slider-btn-2 {
  top: 142px;
  left: 1058px;
  position: absolute;
  width: 112px;
  height: 40px;
}

.travel-agency .img-wrapper {
  left: 72px;
  background-color: var(--primary-o);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  border-radius: 20px;
}

.travel-agency .people-about-us {
  position: absolute;
  width: 1920px;
  height: 596px;
  top: 3576px;
  left: 0;
}

.travel-agency .overlap-8 {
  position: relative;
  height: 596px;
}

.travel-agency .vector-3 {
  position: absolute;
  width: 32px;
  height: 28px;
  top: 29px;
  left: 1448px;
}

.travel-agency .bg-2 {
  position: absolute;
  width: 1920px;
  height: 596px;
  top: 0;
  left: 0;
  background-color: #f7f8fc;
}

.travel-agency .element-3 {
  position: absolute;
  width: 169px;
  height: 188px;
  top: 56px;
  left: 1432px;
}

.travel-agency .content-20 {
  position: absolute;
  width: 1103px;
  height: 356px;
  top: 120px;
  left: 376px;
}

.travel-agency .overlap-9 {
  position: absolute;
  width: 595px;
  height: 356px;
  top: 0;
  left: 514px;
}

.travel-agency .client {
  position: absolute;
  width: 508px;
  height: 232px;
  top: 124px;
  left: 87px;
}

.travel-agency .overlap-group-5 {
  position: relative;
  width: 502px;
  height: 232px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #66666614;
  box-shadow: 0px 10px 30px #22222259;
}

.travel-agency .text-wrapper-26 {
  position: absolute;
  width: 402px;
  top: 14px;
  left: 32px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #4e4e73;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}

.travel-agency .text-wrapper-27 {
  top: 154px;
  left: 32px;
  opacity: 0.5;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  position: absolute;
  color: var(--primary-b);
  letter-spacing: 0;
}

.travel-agency .text-wrapper-28 {
  position: absolute;
  top: 187px;
  left: 32px;
  opacity: 0.5;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--paragraph);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.travel-agency .client-2 {
  position: absolute;
  width: 547px;
  height: 279px;
  top: 0;
  left: 0;
}

.travel-agency .overlap-10 {
  position: relative;
  width: 541px;
  height: 279px;
}

.travel-agency .bg-3 {
  position: absolute;
  width: 504px;
  height: 245px;
  top: 34px;
  left: 37px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow:
    0px 1.85px 3.15px #00000001, 0px 8.15px 6.52px #00000002, 0px 20px 13px #00000003, 0px 38.52px 25.48px #00000003, 0px 64.81px 46.85px #00000004, 0px 100px 80px #00000005;
}

.travel-agency .testimonail {
  position: absolute;
  width: 402px;
  top: 62px;
  left: 71px;
  font-family: var(--content-16x-font-family);
  font-weight: var(--content-16x-font-weight);
  color: var(--color-b-1);
  font-size: var(--content-16x-font-size);
  letter-spacing: var(--content-16x-letter-spacing);
  line-height: var(--content-16x-line-height);
  font-style: var(--content-16x-font-style);
}

.travel-agency .image-5 {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.travel-agency .text-wrapper-29 {
  top: 192px;
  left: 71px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  position: absolute;
  color: var(--primary-b);
  letter-spacing: 0;
}

.travel-agency .text-wrapper-30 {
  position: absolute;
  top: 224px;
  left: 71px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--paragraph);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.travel-agency .content-21 {
  position: absolute;
  width: 398px;
  height: 268px;
  top: 0;
  left: 0;
}

.travel-agency .text-wrapper-31 {
  position: absolute;
  width: 394px;
  top: 132px;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}

.travel-agency .heading {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Volkhov-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 54px;
}

.travel-agency .slider-btn-3 {
  top: 228px;
  left: 0;
  position: absolute;
  width: 112px;
  height: 40px;
}

.travel-agency .blog {
  position: absolute;
  width: 1922px;
  height: 805px;
  top: 4172px;
  left: 0;
}

.travel-agency .overlap-11 {
  position: relative;
  width: 1920px;
  height: 805px;
  background-color: #fefcfb;
}

.travel-agency .card-9 {
  position: absolute;
  width: 270px;
  height: 388px;
  top: 238px;
  left: 375px;
}

.travel-agency .content-22 {
  position: absolute;
  width: 248px;
  height: 94px;
  top: 294px;
  left: 0;
}

.travel-agency .text-wrapper-32 {
  position: absolute;
  top: 68px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-33 {
  position: absolute;
  width: 244px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--primary-b);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
}

.travel-agency .image-6 {
  position: absolute;
  width: 270px;
  height: 270px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.travel-agency .card-10 {
  position: absolute;
  width: 270px;
  height: 388px;
  top: 238px;
  left: 675px;
}

.travel-agency .card-11 {
  position: absolute;
  width: 270px;
  height: 388px;
  top: 238px;
  left: 975px;
}

.travel-agency .card-12 {
  position: absolute;
  width: 270px;
  height: 388px;
  top: 238px;
  left: 1275px;
}

.travel-agency .get-update-with {
  position: absolute;
  width: 646px;
  top: 120px;
  left: 637px;
  font-family: "Volkhov-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 54px;
}

.travel-agency .text-wrapper-34 {
  color: #000000;
}

.travel-agency .slider {
  position: absolute;
  width: 54px;
  height: 14px;
  top: 671px;
  left: 933px;
}

.travel-agency .ellipse {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  background-color: var(--color-off-1);
  border-radius: 5px;
}

.travel-agency .ellipse-2 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 20px;
  background-color: #fa7436;
  border-radius: 7px;
}

.travel-agency .ellipse-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  left: 44px;
  background-color: var(--color-off-1);
  border-radius: 5px;
}

.travel-agency .footer {
  position: absolute;
  width: 1920px;
  height: 898px;
  top: 4977px;
  left: 0;
  background-color: transparent;
}

.travel-agency .overlap-12 {
  position: relative;
  width: 1920px;
  height: 898px;
}

.travel-agency .bg-4 {
  position: absolute;
  width: 1920px;
  height: 688px;
  top: 210px;
  left: 0;
  background-color: #f7f8fc;
}

.travel-agency .content-23 {
  position: absolute;
  width: 598px;
  height: 210px;
  top: 536px;
  left: 947px;
}

.travel-agency .company {
  position: absolute;
  width: 150px;
  height: 210px;
  top: 0;
  left: 0;
}

.travel-agency .text-wrapper-35 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-b);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-36 {
  position: absolute;
  top: 58px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-37 {
  position: absolute;
  top: 100px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.travel-agency .text-wrapper-38 {
  position: absolute;
  top: 142px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.travel-agency .privacy-policy {
  position: absolute;
  top: 184px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.travel-agency .contact {
  position: absolute;
  width: 93px;
  height: 168px;
  top: 0;
  left: 270px;
}

.travel-agency .more {
  position: absolute;
  width: 121px;
  height: 168px;
  top: 0;
  left: 485px;
}

.travel-agency .text-wrapper-39 {
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-b);
  font-size: 21px;
  line-height: 26.1px;
  position: absolute;
  top: 0;
  letter-spacing: 0;
  white-space: nowrap;
}

.travel-agency .content-24 {
  position: absolute;
  width: 256px;
  height: 176px;
  top: 536px;
  left: 376px;
}

.travel-agency .social {
  position: absolute;
  width: 196px;
  height: 68px;
  top: 120px;
  left: -10px;
}

.travel-agency .book-your-trip-in {
  position: absolute;
  top: 48px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #666666;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}

.travel-agency .logo {
  position: absolute;
  width: 132px;
  height: 24px;
  top: 0;
  left: 0;
}

.travel-agency .text-wrapper-40 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Volkhov-Bold", Helvetica;
  font-weight: 700;
  color: var(--primary-b);
  font-size: 24px;
  letter-spacing: 0.14px;
  line-height: 24px;
  white-space: nowrap;
}

.travel-agency .vector-4 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 3px;
  left: 111px;
}

.travel-agency .content-25 {
  position: absolute;
  width: 1176px;
  height: 24px;
  top: 826px;
  left: 376px;
}

.travel-agency .terms-conditions {
  position: absolute;
  top: 0;
  left: 1016px;
  opacity: 0.8;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.travel-agency .text-wrapper-41 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.travel-agency .border {
  position: absolute;
  width: 1170px;
  height: 1px;
  top: 785px;
  left: 378px;
  object-fit: cover;
}

.travel-agency .subscribe {
  position: absolute;
  width: 1170px;
  height: 416px;
  top: 0;
  left: 375px;
}

.travel-agency .overlap-13 {
  position: relative;
  height: 416px;
  border-radius: 16px;
}

.travel-agency .bg-5 {
  position: absolute;
  width: 1170px;
  height: 416px;
  top: 0;
  left: 0;
  background-color: var(--primary-o);
  border-radius: 16px;
  transform: rotate(180deg);
}

.travel-agency .elements {
  position: absolute;
  width: 1167px;
  height: 407px;
  top: 9px;
  left: 3px;
}

.travel-agency .element-4 {
  position: absolute;
  width: 480px;
  height: 361px;
  top: 46px;
  left: 0;
}

.travel-agency .element-5 {
  position: absolute;
  width: 112px;
  height: 113px;
  top: 0;
  left: 1055px;
}

.travel-agency .content-26 {
  position: absolute;
  width: 710px;
  height: 256px;
  top: 80px;
  left: 274px;
}

.travel-agency .subscribe-and-get {
  position: absolute;
  width: 708px;
  top: 0;
  left: 0;
  font-family: "Volkhov-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.travel-agency .subscribe-2 {
  position: absolute;
  width: 674px;
  height: 68px;
  top: 188px;
  left: 15px;
  background-color: var(--white);
  border-radius: 10px;
}

.travel-agency .mail {
  position: absolute;
  width: 149px;
  height: 24px;
  top: 22px;
  left: 22px;
}

.travel-agency .text-wrapper-42 {
  position: absolute;
  top: 0;
  left: 27px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--color-off);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.travel-agency .overlap-group-6 {
  position: relative;
  height: 16px;
  border-radius: 5px;
}

.travel-agency .vector-5 {
  position: absolute;
  width: 12px;
  height: 5px;
  top: 5px;
  left: 3px;
}

.travel-agency .rectangle-3 {
  width: 19px;
  height: 16px;
  top: 0;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--color-off);
  position: absolute;
  left: 0;
}

.travel-agency .subscribe-btn {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 132px;
  height: 50px;
  top: 9px;
  left: 533px;
  background-color: var(--primary-o);
  border-radius: 8px;
}

.travel-agency .text-wrapper-43 {
  position: absolute;
  top: 12px;
  left: 26px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
